html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #66229D, #240C37);
}

#user-details-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    height: 90vh;
}

#unity-footer {
    display: none;
}

#unity-container,
#unity-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.text-input{
    display: flex;
    gap: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 1rem;
    width: 50%;
}

input[type="text"] {
    /* Remove default appearance */
    border: none;
    outline: none;
    background: none;
    box-shadow: none;

    /* Optional reset */
    padding: 0;
    margin: 0;

    /* Custom styles */
    font-family: inherit; /* Inherits font from parent element */
    font-size: 16px;
    font-weight: bold;   /* Inherits font size from parent element */
    color: #fff;       /* Inherits text color from parent element */
    width: 100%;          /* Adjust width to fill the parent container */
}

input[type="tel"] {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;

    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;

    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}


.description{
    color: #E7CC7B;
    font-size: 24px;
    width: 80%;
    text-align: center;
}

.text-input label{
    display: flex;
    color: #fff;
    align-items: center;
}

.submit{
    background: linear-gradient(to bottom, #FFEECC, #AD9515);
    outline: none;
    border-radius: 50px;
    padding: 1.5rem;
    width: 55%;
    border: 1px solid;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

.title-image{
    width: 250px;
}

@media only screen and (max-width: 767px) {
    .text-input{
        width: 80%;
    }

    .submit{
        width: 89%;
    }

    #user-details-form {
        gap: 1rem;
        height: auto;
    }
}
