html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #66229D, #240C37);
    display: flex;
}

.root-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    height: auto;
    width: 360px;
    margin: 0 auto;
}

.result-container {
    text-align: center;
    width: 360px;
    margin: auto;
}


#unity-footer {
    display: none;
}

#unity-container,
#unity-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.text-input {
    display: flex;
    gap: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 0.8rem;
    width: 80%;
}

input[type="text"] {
    /* Remove default appearance */
    border: none;
    outline: none;
    background: none;
    box-shadow: none;

    /* Optional reset */
    padding: 0;
    margin: 0;

    /* Custom styles */
    font-family: inherit;
    /* Inherits font from parent element */
    font-size: 16px;
    font-weight: bold;
    /* Inherits font size from parent element */
    color: #fff;
    /* Inherits text color from parent element */
    width: 100%;
    /* Adjust width to fill the parent container */
}

input[type="tel"] {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;

    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;

    /* padding: 8px 12px; */
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.header2 {
    color: #E7CC7B;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}

.header3 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    border: 1px dashed #fff;
    text-transform: uppercase;
}


.description {
    color: #E7CC7B;
    font-size: 24px;
    text-align: center;
}

.text-input label {
    display: flex;
    color: #fff;
    align-items: center;
}

.submit {
    background: linear-gradient(to bottom, #FFEECC, #AD9515);
    outline: none;
    border-radius: 50px;
    padding: .5rem;
    width: 90%;
    border: 1px solid;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    height: 43px;
}

.title-image {
    width: 50%;
}

.coupon-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    font-weight: bold;
    border: 1px solid #0F032E;
    background-color: #0F032E;
    gap: 2rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 3rem;
}

.coupon-display {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #ffffff;
    border-radius: 50px;
    width: 82%;
    padding: 0px 12px;
}

#result-container button {
    align-self: center;
}

.coupon-container ul {
    text-align: left;
}

.limit-over {
    margin: auto;
    color: #E7CC7B;
}

.limit-over p {
    font-size: 3rem;
    line-height: 48px;
    padding: 1rem;
    text-align: center;
}

.error-message {
    color: rgb(245, 91, 91);
    font-size: 0.9em;
    margin-left: 40px;
    align-self: flex-start;
}